.showKeeper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.keeperCard{
    display: flex;
    flex-direction: column;
    background: rgb(0, 0, 0);
    padding: 2rem;
    border-radius: 20px;
    width: 300px;
    min-height: 250px;
    margin: 2rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 20px;
}

.title {
    margin-bottom: 1rem;
    font-family: 'Texturina', serif;
    color: rgb(82, 171, 240);
    display: flex;
    align-items: center;
}

.descriptionBox{
    display: flex;
    width: 100%;
    resize: none;
    flex: 1;
    color: rgb(102, 201, 156);
    font-family: 'Kanit', sans-serif;
    outline: none;
    background: black;
    border: none;
}

.deleteIcon {
    color: white;
    position: absolute;
    right: 30px;
    font-size: 1rem;
    cursor: pointer;
}



@media screen and (max-width: 800px){
    .keeperCard{
        background: #000;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    margin: 2rem;
    min-height: 240px;
    padding: 2rem;
    position: relative;
    width: 280px;

    }
}


@media screen and (max-width: 600px){

    .keeperCard{

        background: #000;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    margin: 2rem;
    min-height: 230px;
    padding: 2rem;
    position: relative;
    width: 270px;

    }
}


@media screen and (max-width: 500px){

    .keeperCard{
        background: #000;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    margin: 2rem;
    min-height: 210px;
    padding: 2rem;
    position: relative;
    width: 260px;

    }
}


@media screen and (max-width: 400px){
    .keeperCard{
        background: #000;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    margin: 2rem;
    min-height: 200px;
    padding: 2rem;
    position: relative;
    width: 250px;

    }
}